.App {
  /* font-family: 'Rubik', sans-serif; */
  /* width: 90%; */
  /* margin: 3% auto;
  height: 600vh */
  /* max-width: 1280px !important; */
  margin: 0;
  padding: 0;
  /* padding-top: 6em; */
  /* color: #242423; */
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,900&display=swap');

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.mega-text {
  font-size: 8em;
  line-height: 0.88em;
  font-weight: 700;
  color: #353A47;
  font-family: 'Roboto', sans-serif;

}

